---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Feryael Justice Portfolio - About">
  <main>
    <section class="w-full mx-auto py-10 lg:w-[740px]">
      <h1 class="text-white text-5xl font-bold flex justify-center flex-row">
        About
      </h1>
      <h2>
        +2 years of experience. Mobile / Android Developer. From Palma, Spain
        🇪🇸. I specialize in creating unique and innovative apps.
      </h2>
    </section>
  </main>
</Layout>
