---

---

<footer class="flex items-center flex-col w-100 h-[200px] pb-16">
  <strong>Feryael Justice Portfolio. 2024.</strong>
  <div class="flex-row">
    <a href="https://github.com/FeryaelJustice" target="_blank">Github</a>
    <a href="https://linktr.ee/feryaeljustice" target="_blank">My Links</a>
  </div>
</footer>
<style>
  footer {
    margin-top: 20px;
  }
  a:hover {
    font-weight: bolder;
    color: #9494ff;
  }
</style>
