---
import Layout from "./../../layouts/Layout.astro";
import Card from "./../../components/Card.astro";
---

<Layout title="Feryael Justice Portfolio - Experience">
  <main>
    <section class="w-full mx-auto py-10 lg:w-[740px]">
      <h1 class="text-white text-5xl font-bold flex justify-center flex-row">
        Experiencia
      </h1>
      <article class="w-full mx-auto py-10 lg:w-[740px]">
        <Card
          href="https://www.homerti.com/es"
          title="Homerti"
          body="Programación Web con Laravel + Vue"
        />
        <Card
          href="https://www.tec-soft.es/"
          title="Tec-Soft"
          body="Programación en Delphi Seattle y XMLBuilder"
        />
      </article>
    </section>
  </main>
</Layout>
