---
import Layout from "./../../layouts/Layout.astro";
import Intro from "./../../components/Intro.astro";
import Card from "./../../components/Card.astro";

/*
import { Resend } from "resend";
const resendAPIKEY = import.meta.env.RESEND_API_KEY;

const resend = new Resend(resendAPIKEY);

resend.emails.send({
  from: "onboarding@resend.dev",
  to: "nano9gs@hotmail.es",
  subject: "Hello World",
  html: "<p>Congrats on sending your <strong>first email</strong>!</p>",
});
*/
---

<Layout title="Feryael Justice Portfolio">
  <main>
    <section class="intro">
      <Intro lang="es" />
    </section>
    <section>
      <h2 class="text-white text-3xl font-bold flex justify-center flex-row">
        EXPERIENCIA
      </h2>
      <article class="w-full mx-auto py-10 lg:w-[740px]">
        <Card
          href="https://www.homerti.com/es"
          title="Homerti"
          body="Programación Web con Laravel + Vue"
        />
        <Card
          href="https://www.tec-soft.es/"
          title="Tec-Soft"
          body="Programación en Delphi Seattle y XMLBuilder"
        />
      </article>
    </section>
    <section>
      <h2 class="text-white text-3xl font-bold flex justify-center flex-row">
        PROYECTOS
      </h2>
      <article class="w-full mx-auto py-10 lg:w-[740px]">
        <Card
          href="https://developer.android.com"
          title="FeryaelDev"
          body="Experto en Android"
        />
      </article>
    </section>
  </main>
</Layout>

<style>
  .intro {
    margin: 10px;
  }
</style>
