---
import Layout from "./../../layouts/Layout.astro";
import Card from "./../../components/Card.astro";
---

<Layout title="Feryael Justice Portfolio - Projects">
  <main>
    <section class="w-full mx-auto py-10 lg:w-[740px]">
      <h1 class="text-white text-5xl font-bold flex justify-center flex-row">
        Proyectos
      </h1>
      <article class="w-full mx-auto py-10 lg:w-[740px]">
        <Card
          href="https://developer.android.com"
          title="FeryaelDev"
          body="Experto en Android"
        />
      </article>
    </section>
  </main>
</Layout>
